body {
background:#111 url('background.jpg') no-repeat;
margin:0;
padding:0;
}

div.term {
z-index:-1;
float:left;
overflow:hidden;
width:480px;
margin:0;
padding:0;
display:block;
font: 10px Andale Mono, monospace;
white-space:pre;
}

div.term span.ul { text-decoration: underline; }

div.term span.f0 { color: #000000; }
div.term span.f1 { color: #c00006; }
div.term span.f2 { color: #1bc806; }
div.term span.f3 { color: #c3c609; }
div.term span.f4 { color: #0000c2; }
div.term span.f5 { color: #bf00c2; }
div.term span.f6 { color: #19c4c2; }
div.term span.f7 { color: #f2f2f2; }
div.term span.fc { color: transparent; }	/* Concealed */
div.term span.fe { color: #000000; }		/* Negative fg */
div.term span.ff { color: #ffffff; }		/* Default fg */

div.term span.b0 { background-color: #000000; }
div.term span.b1 { background-color: #cc2300; }
div.term span.b2 { background-color: #00cc00; }
div.term span.b3 { background-color: #cccc00; }
div.term span.b4 { background-color: #0e2acc; }
div.term span.b5 { background-color: #cc34cc; }
div.term span.b6 { background-color: #00cccc; }
div.term span.b7 { background-color: #f5f5f5; }
div.term span.bc { background-color: #555555; }		/* Cursor */
div.term span.be { background-color: transparent; }	/* Default bg */
div.term span.bf { background-color: #ffffff; }		/* Negative bg */

.ol {
display:none;
}

.olBg {
position:absolute;
z-index:100;
width:480px;
height:268px;
cursor:pointer;
}

.olGray {
position:absolute;
z-index:50;
width:480px;
height:268px;
background:#141414;
opacity:0.7;
}

table {
border-collapse:collapse;
}

.olCtrl {
position:absolute;
z-index:200;
margin-left:42px;
width:396px;
}

.ctrltextborder {
width:256px;
margin:11px 0 0 0;
padding:0;
border-style:solid;
border-width:1px;
border-color:#bbb;
}
#ctrltextinput {
width:252px;
margin:0;
padding:4px 2px 4px 2px;
border:0;
font:22px sans-serif;
color:#fff;
background:#2d2d2d;
opacity:0.8;
}

.k {
width:64px;
height:62px;
background:url('key.png') no-repeat;
font:22px sans-serif;
color:#fff;
margin:0;
padding:0;
text-align:center;
cursor:pointer;
}
.ks {
padding:18px 4px 0 0;
}

.ctrlfunctions {
margin-top:64px;
}

.olMsg {
padding:110px 0 0 0;
text-align:center;
font:24px sans-serif;
color:#bbb;
}
