body {
margin:0;
padding:0;
background:#141414;
color:#fff;
--webkit-user-select:ignore;
}

.container {
margin:0 auto 0 auto;
width:480px;
}

#term {
margin:0;
padding:0;
overflow:hidden;
background:#000 url('background.jpg');
minimum-height:264px;
}

pre.term {
display:block;
margin:0;
padding:0;
font:10px Andale Mono, monospace;
white-space:pre;
}

pre.term span.ul { text-decoration: underline; }

pre.term span.f0 { color: #000000; }
pre.term span.f1 { color: #c00006; }
pre.term span.f2 { color: #1bc806; }
pre.term span.f3 { color: #c3c609; }
pre.term span.f4 { color: #0000c2; }
pre.term span.f5 { color: #bf00c2; }
pre.term span.f6 { color: #19c4c2; }
pre.term span.f7 { color: #f2f2f2; }
pre.term span.fc { color: transparent; }	/* Concealed */
pre.term span.fe { color: #000000; }		/* Negative fg */
pre.term span.ff { color: #ffffff; }		/* Default fg */

pre.term span.b0 { background-color: #000000; }
pre.term span.b1 { background-color: #cc2300; }
pre.term span.b2 { background-color: #00cc00; }
pre.term span.b3 { background-color: #cccc00; }
pre.term span.b4 { background-color: #0e2acc; }
pre.term span.b5 { background-color: #cc34cc; }
pre.term span.b6 { background-color: #00cccc; }
pre.term span.b7 { background-color: #f5f5f5; }
pre.term span.bc { background-color: #555555; }		/* Cursor */
pre.term span.be { background-color: transparent; }	/* Default bg */
pre.term span.bf { background-color: #ffffff; }		/* Negative bg */

.olCtrl {
display:none;
position:relative;
margin:-264px 0 0 0;
opacity:0.8;
}
.olAlert {
display:none;
position:relative;
margin:-186px 0 0 110px;
width:260px;
height:66px;
padding:42px 0 0px 0;
color:#fff;
text-align:center;
font:24px sans-serif;
background:#141414;
opacity:0.7;
}

.tb {
width:60px;
height:30px;
margin:10px 10px 0 10px;
padding:8px 0 0 3px;
background:url('back.png') no-repeat;
font:12px sans-serif;
text-align:center;
color:#fff;
text-align:center;
cursor:pointer;
}

.f {
float:left;
width:400px;
height:54px;
margin:0;
padding:0;
background:url('cell.png') no-repeat top right;
}
.t {
width:399px;
margin:12px 0 0 0;
padding:4px 0 4px 0;
background:#000;
border:0;
font:22px sans-serif;
color:#fff;
opacity:0.5;
}
.b {
height:54px;
}
.k {
float:left;
width:80px;
height:38px;
margin:0;
padding:16px 0 0 0;
background:url('cell.png') no-repeat top right;
cursor:pointer;
font:22px sans-serif;
color:#fff;
text-align:center;
}
.j {
float:left;
width:48px;
height:38px;
margin:0;
padding:16px 0 0 0;
background:url('cell.png') no-repeat top right;
cursor:pointer;
font:22px sans-serif;
color:#fff;
text-align:center;
}
.s {
background:url('cells.png') no-repeat top right;
}
